main {
  font-family: "Trebuchet MS";
  border-radius: 2px;
  width: 100%;
  text-align: center;
  justify-content: center;
  background: rgb(42,39,88);
}

@media (max-width: 390px) {
  main {
    margin: 0;
  }
}

body {
  width: 100%;
  background: rgb(42,39,88);
}

h1 {
  color: rgb(182, 193, 200);
}

h2 {
  color: #F2A69C;
  line-height: 1.25;
}

p, li {
  line-height: 1.6;
}

li {
  margin-right: 20px;
}

a {
  color: rgb(244, 228, 219);
}

h1 {
  margin-bottom: 0;
}

.tribute {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 390px;
}

.header {
  width: 75%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.subheading {
  border: 3px solid rgb(60,77,97);
  border-radius: 2px;
  border-style: none none solid none;
}

#img-div {
  background-color: rgb(60,77,97);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0, auto;
  border-radius: 4px;
}

#img-caption {
  padding: 10px;
}

#tribute-info {
  margin: 25px;
  background-color: rgb(60,77,97);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  text-align: left;
  justify-content: center;
}

#tribute-info h2 {
  text-align: center;
}

#tribute-info ul {
  display: flex;
  max-width: 100%;
  flex-direction: column;

}

#timeline {
  display: flex;
  justify-content: center;
}

footer {
  background: rgb(60,77,97);
  padding: 10px;
  border-radius: 2px;
  width: 100%;
}
