#main {
  font-family: Arial;
  padding: 35px;
  border-radius: 15px;
  background: darkgrey;
}

@media (max-width: 390px) {
  #main {
    margin: 0;
  }
}

body {
  text-align: center;
}

#footer {
  display: flex;
  flex-direction: row;
}

#img-div {
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0, auto;
  border-radius: 4px;
}

#img-caption {
  padding: 10px;
}

#tribute-info {
  margin: 25px;
  background-color: lightgray;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  text-align: left;
  justify-content: center;
}

#tribute-info h2 {
  text-align: center;
}

#tribute-info ul {
  display: flex;
  max-width: 100%;
  flex-direction: column;

}

#timeline {
  display: flex;
  justify-content: center;
}
