#main {
  font-family: Arial;
  margin: 30px, 8px;
  padding: 25px;
  border-radius: 15px;
  background: lightgray;
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

body {
  text-align: center;
}

#footer {
  display: flex;
  flex-direction: row;
}

#img-div {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0, auto;
  border-radius: 4px;
}

#img-caption {
  padding: 10px;
}